<h1>Cadastro de Clientes</h1>

<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Digite o nome"
          [(ngModel)]="cliente.nome"
          name="nome"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Idade</mat-label>
        <input
          matInput
          type="number"
          placeholder="Digite a idade"
          [(ngModel)]="cliente.idade"
          name="idade"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select
          [(ngModel)]="cliente.diferencialEntrega"
          name="tipoCliente"
          required
        >
          <mat-option value="fisica">Pessoa Fisica</mat-option>
          <mat-option value="Juridica">Pessoa Juridica</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" (click)="salvar()">
          Salvar
        </button>
        <button mat-raised-button color="warn" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<div *ngIf="message" style="margin-top: 20px; font-weight: bold; color: black">
  {{ message }}
</div>
